<app-header
    data-back="媒体库"
    data-title="粤语歌曲"
    data-icon="http://chinbeker.qicp.vip:5152/img/music/icon/class.svg">
</app-header>
<app-list>
    <details open>
        <summary>专辑</summary>
        <ol>
            <li>
                <a to="songs" data-params-path="style" data-params-id="11">
                    <img src="http://chinbeker.qicp.vip:5152/img/music/folder/1100.jpg" alt="." />
                    <span>所有歌曲</span>
                </a>
            </li>
        </ol>
    </details>
</app-list>
