<div class="image" title="主页面">
    <img class="cover" src="http://chinbeker.qicp.vip:5152/img/music/album/11059.jpg" alt="⊙" draggable="false">
</div>
<section>
    <h2 class="title">我记得</h2>
    <p><span class="artist">赵雷</span> - <span class="album">署前街少年</span></p>
</section>
<div class="control">
    <div class="button play-pause" title="播放&nbsp;|&nbsp;暂停">
        <svg viewBox="0 0 100 100" draggable="false">
            <polygon class="pause" style="display: inline;" points="35,30 35,70 70,50" fill="#fff"></polygon>
            <g class="play" fill="#fff" style="display: none;">
                <rect x="35" y="30" width="10" height="40"></rect>
                <rect x="55" y="30" width="10" height="40"></rect>
            </g>
        </svg>
    </div>
    <div class="button playlist" title="播放列表">
        <svg viewBox="0 0 100 100" draggable="false">
            <g fill="#fff">
                <rect x="28" y="30" width="8" height="8"></rect>
                <rect x="41" y="30" width="31" height="8"></rect>
                <rect x="28" y="46" width="8" height="8"></rect>
                <rect x="41" y="46" width="31" height="8"></rect>
                <rect x="28" y="62" width="8" height="8"></rect>
                <rect x="41" y="62" width="31" height="8"></rect>
            </g>
        </svg>
    </div>
</div>
