@layer view {
    :host {display: block;}
    .root {position: relative;}
    main {
        flex: auto;
        padding: 0.5em 0.25em;
        overflow: auto;
        scrollbar-width: none;
        scroll-behavior: smooth;
    }
    main::after {
        content: '';
        display: block;
        height: 10em;
        visibility: hidden;
        -webkit-user-select: none;
        user-select: none;
    }
    main::-webkit-scrollbar {display: none;}
    ol {
        list-style-position: inside;
        list-style-type: none;
    }
    li:empty {visibility: hidden;}
    a {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: flex-start;
        row-gap: 0.55em;
        line-height: 1.1em;
        vertical-align: middle;
    }
    img {
        width: 100%;
        aspect-ratio: 1 / 1;
        font-size: 0.9em;
        color: inherit;
    }
    @media all and (orientation: landscape) {
        ol {
            display: flex;
            flex-flow: row wrap;
            align-content: flex-start;
            justify-content: flex-start;
        }
        li:not(:empty) {padding: 0.9rem;}
        li {flex: 1 1 12.5%;min-width: 11rem;}
        li:not(:empty), a {border-radius: 1em;}
        a {font-size: 1.05em;}
        img {
            border-radius:16%;
            background-color: #CDCDCD;
            box-shadow: 0px 0px 6px #808080;
        }
    }
    @media all and (orientation: portrait) {
        :host {color: #ffffff;}
        ol {
            margin-bottom: 1em;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(min(30%, 12rem), 1fr));
            align-content: flex-start;
            justify-content: center;
        }
        li:not(:empty) {padding: 0.6em 0.4em;}
        li:not(:empty), a {border-radius: 0.9em;}
        img {
            border-radius: 1em;
            background-color: #313131;
        }
        a > span {font-size: 0.92em;}
    }
    @media (hover: hover) and (pointer: fine) {
        @media all and (orientation: landscape) {
            li:hover {background-color: #F5F5F5;}
        }
        @media all and (orientation: portrait) {
            li:hover {background-color: #282828;}
        }
    }
    @media (hover: none) and (pointer: coarse) {
        @media all and (orientation: landscape) {
            li:active {background-color: #F5F5F5;}
        }
        @media all and (orientation: portrait) {
            li:active {background-color: #282828;}
        }
    }
    li:hover {cursor: pointer;}
}
