@layer component {
    :host {
        position: absolute;
        display: block;
        overscroll-behavior: contain;
    }
    table, thead, tbody, tr, th, td {box-sizing: border-box;}
    .root {height: 100%;}
    .body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow-y: auto;
    }
    header {
        display: block;
        width: 100%;
        flex: none;
    }
    h2 {line-height: 1em;}
    main {
        flex: auto;
        overflow-y: auto;
        scrollbar-width: none;
        overscroll-behavior: contain;
    }
    .thead, main {padding-inline: 0.5rem;}
    .thead > span {
        display: inline-block;
        line-height: 2.2em;
        font-weight: bold;
    }
    table {
        width: 100%;
        height: auto;
        border-spacing: 0;
        border-collapse: collapse;
    }
    .thead > span:first-child {padding-right: 0.5em;width: 6.5%;text-align: right;}
    .thead > span:nth-child(2) {padding-left: 0.6em;width: 37%;}
    .thead > span:nth-child(3) {padding-left: 1em;width: 28%;}
    .thead > span:last-child {padding-left: 1em;width: 28.5%;}
    tr > td:first-child {padding-right: 0.5em;width: 6.5%;text-align: right;}
    tr > td:nth-child(2) {padding-left: 0.8em;width: 37%;line-height: 1.15em;}
    tr > td:nth-child(3) {padding-left: 1.2em;width: 28%;line-height: 1.2em;}
    tr > td:last-child {padding-left: 1.2em;width: 28.5%;line-height: 1.2em;}
    tr > td ~ td {word-break: break-word;word-wrap: break-word;}
    button {
        display: block;
        width: 100%;
        color: inherit;
        text-align: center;
        background-color: transparent;
    }
    @media all and (orientation: landscape) {
        :host {
            inset-block-start: 0;
            inset-inline-end: 0;
            max-width: 820px;
            width: 60%;
            height: calc(100% - var(--landscape-footer-height));
            background-color: #ffffff;
            border-left: 1px solid #C3C3C3;
            box-shadow: 0px 0px 5px 0px #ABABAB;
        }
        .body {
            padding: 1em;
            height: 100%;
        }
        main::after {
            content: '';
            display: block;
            height: 8em;
        }
        footer {
            border-top: 1px solid #D9D9D9;
            display: none;
        }
        header {border-bottom: 1px solid #D9D9D9;}
        h2 {
            padding-left: 0.2em;
            padding-bottom: 0.5em;
            font-size: 15pt;}
        .thead > span {
            font-size: 1em;
            color: #868686;
        }
        tr {height: 2.6em;border-radius: 5px;}
        tr > td:first-child {color: #ADADAD;}
        tr > td:nth-child(2) {font-size: 0.95em;}
        tr > td + td ~ td {font-size: 0.9em;color: #939393;}
        button {
            font-size: 1.3em;
            line-height: 4.08em;
        }
        tr.play {background-color: rgba(228,228,228,0.90);}
        tr:hover {background-color: rgba(232,232,232,0.90);}
    }
    @media all and (orientation: portrait) {
        :host {
            inset: 0;
            color: #ffffff;
            background-color: rgba(0,0,0,0.93);
        }
        .root {
            display: flex;
            flex-direction: column;
        }
        .body {flex: auto;}
        main::after {
            content: '';
            display: block;
            height: 16.2em;
        }
        footer {
            flex: none;
            border-top: 1px solid #2F2F2F;
            background-color: rgba(0,0,0,0.65);
        }
        header {
            border-bottom: 1px solid #2F2F2F;
            background-color: rgba(0,0,0,0.65);
        }
        h2 {
            padding: 0.65em;
            font-size: 1.4em;
        }
        .thead {font-size: 0.8em;}
        .thead > span {
            font-size: 1em;
            color: #939393;
        }
        tr {height: 2.64em;border-radius: 5px;}
        tr > td:first-child {font-size: 0.75em;color: #ADADAD;}
        tr > td:nth-child(2) {font-size: 0.85em;}
        tr > td + td ~ td {font-size: 0.8em;color: #939393;}
        button {
            font-size: 1.1em;
            line-height: 3em;
        }
        tr.play {background-color: rgba(45,45,45,0.7);}
        tr:hover, footer:hover, footer:active {background-color: rgba(47,47,47,0.7);}
    }
    tr {cursor: pointer;
        -webkit-tap-highlight-color: transparent;
    }
    main::-webkit-scrollbar {display: none;}
}
